// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.button {
	display: inline-block;
	text-decoration: none;
	background-color: map-get($colors, primary);
	color: white;
	padding: 10px 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 4px;
	&:hover {
		color: white;
		background-color: map-get($colors, secondary);
		text-decoration: none;
	}
}

.spinner {

	&--loading {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(255,255,255,0.8);

		ion-spinner {
			display: block;
			height: 88px;
			width: 88px;
		}
	}

	&__info {
		display: block;
		position: absolute;
		top: 60%;
	}
}

.text-center {
	text-align: center;
}

.margin-top {
	margin-top: 20px;
}